<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/a1.jpg" class="d-block w-100" alt="a1">
    </div>
    <div class="carousel-item">
      <img src="/assets/a2.jpg" class="d-block w-100" alt="a2">
    </div>
    <div class="carousel-item">
      <img src="/assets/a3.jpg" class="d-block w-100" alt="a3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      Udemy boasts over 44 million students and more than 183,000 courses.1 Stock Market From Scratch for Complete Beginners is one of those courses. For $109.99, Stock Market From Scratch transforms you from an investment newbie to a stock market pro. You can often catch sales and get the course cheaper. The class uses pre-recorded video lessons, ensuring that you can learn on your time and schedule, and it currently has 4.1 out of 5 stars from overall learners.

      Taught by the instructor, Jatin Taneja, a stock market investor with years of experience, you'll learn terms, concepts, and ideas like technical indicators, the difference between types of financial instruments, how to choose the correct broker, and much more. Taneja uses many real-life examples in his courses, and has been praised for his ability to explain the complexities of the stock market to people who have no experience. All you need is a computer and an internet connection to get started.
    </div>
  </div>
</div>
<br>